<div *ngIf="!appService.isVisibleSidebar" class="d-flex flex-wrap align-items-center p-2 gap-2">
    <button type="button" class="btn py-0 px-2" title="Expand Sidebar" (click)="appService.ut_toggleSidebar()">
        <i class="bi bi-list fs-5"></i>
    </button>
    <a routerLink="/">
        <label [title]="buildInfo">
            <img src="assets/android-chrome-192x192.png" width="32" alt="Coppi: Copy text to Clipboard" title="Coppi">
            <span class="ms-2 fw-bold">Coppi</span>
        </label>
    </a>
</div>
<div class="d-flex">
    <div *ngIf="appService.isVisibleSidebar" class="sidebar p-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-content p-2" [ngClass]="{'w-100': !appService.isVisibleSidebar}">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="text-muted text-center my-3">Addhuri: All rights reserved &copy; {{currentYear}} Coppi</div>