<a routerLink="/">
    <label [title]="buildInfo">
        <img src="assets/android-chrome-192x192.png" width="32" alt="Coppi: Copy text to Clipboard" title="Coppi">
        <span class="ms-2 fw-bold">Coppi</span>
    </label>
</a>
<div class="d-flex align-items-center justify-content-between w-100">
    <span class="fw-bold text-muted">Workspaces</span>
    <button type="button" class="btn btn-default btn-sm" title="Create new workspace"
        (click)="ut_open(createWorkspaceModal)">
        <i class="bi bi-plus-circle"></i>
        Create new</button>
</div>
<ul class="list-group">
    <li class="list-group-item px-1 pt-1" *ngFor="let node of treeNodes">
        <div class="d-flex align-items-center w-100">
            <span class="mb-1"><i class="bi bi-person-workspace"></i> {{node.name}}</span>
            <button type="button" class="btn btn-default btn-sm ms-auto" title="Add new Page"
                (click)="ut_open(newPageModal, node.id)">
                <i class="bi bi-file-plus"></i></button>
            <button type="button" class="btn btn-default btn-sm" title="Delete Workspace"
                (click)="ut_deleteWorkspace(node.id)">
                <i class="bi bi-trash"></i></button>
        </div>
        <ul class="list-group">
            <button class="list-group-item list-group-item-action" routerLinkActive="active"
                [routerLink]="node.id+'/'+child.id" *ngFor="let child of node.children">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <span><i class="bi bi-file-earmark"></i> {{child.name}}</span>
                    <button type="button" class="btn btn-danger btn-sm s8" title="Delete Workspace"
                        (click)="ut_deletePage(node.id, child.id)">
                        <i class="bi bi-trash"></i></button>
                </div>
            </button>
        </ul>
    </li>
</ul>

<ng-template #createWorkspaceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create new Workspace</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <app-input-form></app-input-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="ut_save()">Save</button>
    </div>
</ng-template>

<ng-template #newPageModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create new page</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <app-new-page-form></app-new-page-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="ut_addNewPage()">Save</button>
    </div>
</ng-template>